#boxA {
  /* width: 100%;
  height: 7.109004739%;
  line-height: 75px; */
  background-color: teal;
  grid-area: 1/1/2/3;
  /* clear: left; */
}

#boxB {
  /* width: 100%;
  height: 14.2180094778%;
  line-height: 150px; */
  grid-area: 2/1/3/3;
  background-color: thistle;
}

/* #boxC, #boxD {
  width: 100%;
  height: 11.848341232%;
  line-height: 125px;
} */

#boxC {
  grid-area: 3/1/4/3;
  background-color: tomato;
}

#boxD {
  grid-area: 4/1/5/3;
  background-color: turquoise;
}

/* #boxE, #boxF,
#boxG, #boxH {
  width: 50%;
  height: 23.696682464%;
  line-height: 250px;
  /* display: inline-block; */
/* } */

#boxE {
  grid-area: 5/1/6/50%;
  background-color: violet;
}

#boxF {
  grid-area: 5/50%/6/2;
  background-color: yellow;
}

#boxG {
  grid-area: 6/1/7/50%;
  background-color: orange;
}

#boxH {
  grid-area: 6/50%/7/2;
  background-color: blue;
}

#boxI {
  /* width: 100%;
  height: 7.582938388%;
  line-height: 80px; */
  grid-area: 7/1/8/3;
  background-color: cornflowerblue;
}

